<div>
    <div>
        <h1> List of all articles </h1>
    </div>

    <div>
        <% @posts.each do |post| %>
        <div>
            <h2>Title:</h2>
            <%= post.title %>
        </div>
        <div>
            <h2>Body:</h2>
            <%= post.body %>
        </div>
        <% ## button for showing post %>
        <%= button_to "Show Post",post_path %>
        <% end %>
    </div>

    <div>
        <%= button_to "Create New Post", posts_new_path, method: :get %>
    </div>
</div>
