<h1> List of all articles</h1>
<%@posts.each do |post|%>
    <div>
        <h2>Title:</h2>
        <%= post.title%>
    </div>

    <div>
        <h2>Body:</h2>
        <%= post.body %>
    </div>

    <% ## button for showing post %>
    <%= button_to "Show Post",post_path %>
<% end %>