<h1>Individual post content</h1>
<div>
    <p>Title:</p>
    <%= @post.title %>

    <p>Body:</p>
    <%= @post.body%>

    <% ## buttons for delete post and edit post %>
    <% ## button at the bottom for navigating back to the index page %>
</div>